.popup-container {
    position: relative;
}

.popup{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: powderblue;
    position: fixed;
    top: 67.5%;
    right: -44px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1.5px solid royalblue;
    transform: translateY(-50%);
    animation: comein 1s forwards;
    animation-delay: 3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 10000;
}

@keyframes comein{
    from    {right: -44px;}
    to      {right: 10px;}
}

.logoimage{
    width: 20px;
    height: 30px;
}

.popup:hover{
    transform: translateY(-50%) scale(1.1);
    filter: brightness(90%);
}

.recommend-panel{
    position: fixed;
    transform: translateY(-180px);
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 16px 30px #6b024f1f;
    cursor: default;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    right: 10px;
    bottom: 160px;
}

.chartImage {
    height: 54px;
}

.recommend-panel-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 54px;
}

.recommend-panel-body {

}

.recommend-panel-footer {
    height: 54px;
}

.closeImage {

}

.actionType {

}

.chartPoint {

}
