<div class="popup-container">
    <div id="assistant" class="popup" (click)="openWindow()">
        <img class="logoimage" [src]="assistantUrl">
    </div>
    <div  id="recommend-panel" class="recommend-panel" *ngIf="isShowWindow">
        <div class="recommend-panel-header">
        </div>
        <div class="recommend-panel-body">Implement FormComplete to get an uplift of 34% in
            qualified leads !</div>
        <div><img class="chartImage" [src]="chartUrl"></div>
        <div class="recommend-panel-footer"></div>
    </div>
</div>

