.recommendation-container {
    position: fixed;
    right: -330px;
    top:0;
    height: 100%;
    display:flex;
    justify-content: center;
    border-top-left-radius: 8px;
    background: #f2f6ff;
    width: 316px;
    padding: 18px 0px 18px 18px;
    z-index: 999999999999;
    border: 1px solid #D9DDE4;
    border-right: none;
    box-shadow: 0 24px 32px -24px rgba(117, 133, 160, 0.3);
    overflow: hidden;
    flex-direction: column;
    animation: comein 500ms ease-in-out forwards;
}

@keyframes comein{
    from    {right: -330px;}
    to      {right: 0;}
}

#close-icon{
    cursor: pointer;
}

.card-container {
    width: 280px;
    height: 167px;
    /* 2.0/$white */
    padding: 12px 0 12px 12px;
    background: #FFFFFF;
    /* 2.0/gray/$gray_30 */
    border: 1px solid #D9DDE4;
    /* 2.0/$dropdown */
    border-radius: 10px;
    box-shadow: 0px 24px 32px -24px rgba(117, 133, 160, 0.4);
}
.card-container:not(:first-child) {
    margin-top: 30px;
}

.card-container:last-child {
    margin-bottom: 10px;
}

.fixed-top-header {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px 0 0;
}

.fixed-profile {

}

.scrollable-container {
    overflow-y: scroll;
}

.chartPoint {
    height: 45px;
}

.user-points {
    margin-top: 12px;
    margin-bottom: 30px;
    width: 280px;
    /* 2.0/$white */
    padding: 12px 0 12px 12px;
    background: #FFFFFF;
    /* 2.0/gray/$gray_30 */
    border: 1px solid #D9DDE4;
    /* 2.0/$dropdown */
    border-radius: 10px;
    box-shadow: 0px 24px 32px -24px rgba(117, 133, 160, 0.3);
    display: flex;
    flex-direction: row;
}
.user-points-details {
    margin-left: 18px;
}

.user-points-details div:first-child{
    color: #0041C0;
    font-family: 'Sharp Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    }

.user-points-details div:last-child{
    color: #42BC56;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 22px;
    margin-top: 2px;
}

    .header-text {
        /* Body 1 / 16 Semibold */
    font-style: normal;
    font-weight: 600;
    font-family: 'Sharp Sans', sans-serif;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #0041C0;
}

.body-text {
    /* Body 2 / 14 Medium */

    font-family: 'Sharp Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */
    color: #525F76;
    display: flex;
    align-items: center;
    padding: 11px 0;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.button-container{
    height: 28px;
    border-radius: 14px;
    background-color: #0061FF;
    color: #FFFFFF;
    font-size: 12px;
    line-height:22px;
    padding: 0 14px;
    width: fit-content;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-points{
    background-color: rgba(132, 216, 150, 0.2);
    color: #42BC56;
    display: flex;
    align-items: center;
    padding: 4px 8px;
}

.navbar{
    border-bottom: 1px solid #CACACA;
    display: flex;
    margin-bottom: 10px;
}

#actiontab{
    padding-bottom: 10px;
    margin-right: 20px;
    margin-left: 5px;
    cursor: pointer;
}
#leadertab{
    padding-bottom: 10px;
    cursor: pointer;
}

@keyframes moveUp {
    0% {
        transform:translateX(0) translateY(0) scale(1);
    }
    50% {
        transform:translateX(10px) translateY(-51px) scale(1.2);
    }
    100% {
        transform:translateX(0) translateY(-102px) scale(1);
    }
}

@keyframes moveDown {
    0% {
        transform:translateY(0)
    }
    100% {
        transform:translateY(102px);
    }
}

.user-points:nth-child(5){
    animation: moveUp 1s ease forwards;
    animation-delay: 2s;
    z-index: 5000;
}

.user-points:nth-child(4){
    animation: moveDown 1s ease forwards;
    animation-delay: 2s;
    z-index: 4999;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

#lessmargin{
    margin-bottom: 10px;
}

#join-slack-community{
    margin-bottom: 30px;
}

.green-button{
    color: white;
    padding: 4px 8px;
    background-color: #4bb543;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

#linkedinimage{
    cursor: pointer;
}
