<div class="recommendation-container">
    <div class="fixed-top-header">
        <div id="close-icon" (click)="closePanel()">
            <img [src]="closeIconUrl" />
        </div>
    </div>
    <div class="user-points" id="lessmargin">
        <img class="chartPoint" [src]="chartPointUrl">
        <div class="user-points-details">
            <div>Stanley Hudson</div>
            <div>Points: {{points}}</div>
        </div>
    </div>
    <div class="flex-container" id="join-slack-community">
        <div class="green-button">Join the Slack Community</div>
        <img [src]="linkedInIconUrl" id="linkedinimage"/>
    </div>
    <div class="navbar">
        <div id="actiontab" (click)="changetab(1)">Actions</div>
        <div id="leadertab" (click)="changetab(2)">Leaderboards</div>
    </div>
    <div class="scrollable-container" *ngIf="activeTabId===1; else other">
        <ng-container *ngFor="let r of recommendationsList">
            <div class="card-container">
                <div class="wrapper">
                    <div class="header-text">{{r.tittle}}</div>
                    <div class="header-points" *ngIf="r.points">Points: {{r.points}}</div>
                </div>
                <div class="body-text">{{r.recommendation}}</div>
                <div class="recommend-flex">
                    <div class="button-container">{{r.buttonAction}}</div>
                    <div class="orangetext">{{r.reco}} people recommended this</div>
                </div>
            </div>
        </ng-container>
    </div>
    <ng-template #other>
        <div class="scrollable-container">
            <ng-container *ngFor="let r of leaderboardsList;  let i = index">
                <div class="user-points" [id]="'userpoints'+i">
                    <img class="chartPoint" [src]="getSrc(r.level)">
                    <div class="user-points-details">
                        <div>{{r.name}}</div>
                        <div *ngIf="r.name === 'Stanley Hudson'; else pointer">{{points}}</div>
                        <ng-template #pointer>{{r.points}}</ng-template>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-template>

</div>
